<h1>Funcionalidad de un CRM</h1>
<p>El sistema deberá disponer de un módulo para manejo de usuarios, donde se podrá crear usuarios,
  modificar la información de los usuarios, crear roles de usuarios, asignación de roles a usuarios,
  definir la visibilidad y acceso de las opciones y funcionalidades del sistema por roles de usuarios
  (por módulo tres opciones: edición, visualización y reportería). La información de usuario será nombre
  de usuario, cédula, apellidos, departamento y clave (encriptada).El sistema debe permitir controlar el
  acceso de las funcionalidades a partir de los permisos asignados a los usuarios.</p>
